[Unit]
Description=Collecting Books From Crypto Exchanges
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/crypto_data_collector
ExecStart=/usr/bin/python3 /home/pi/crypto_data_collector/collect_data_books.py
Restart=on-failure

[Install]
WantedBy=multi-user.target